@font-face {
  font-family: pt-sans;
  src: url('fonts/PTSans-Regular.ttf');
}

@font-face {
  font-family: pt-italic;
  src: url('fonts/PTSans-Italic.ttf');
}
* {
  font-family: pt-sans;
}

.top-nav {
  background-image: radial-gradient(
    circle farthest-corner at 12.3% 19.3%,
    rgba(85, 88, 218, 1) 0%,
    rgba(95, 209, 249, 1) 100.2%
  );

  height: 40px !important;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.social {
  margin: 6px 0 0 85px;
}

.social li {
  list-style-type: none;
  display: inline;
  padding-right: 25px;
}

.mail-detail {
  padding: 0 30px 0 0;
  margin-top: 6px;
}

/*--------------------------- media queries--------------------------------------------------- */
@media only screen and (max-width: 700px) {
  .navbar {
    position: relative;
    top: -50px;
    background-color: rgb(255, 255, 255) !important;
  }
}

/*----------------------End of top navbar--------------------------------------------- */

.navbar {
  background-color: rgb(255, 255, 255) !important;
}

.navbar a {
  color: black !important;
  font-size: 18px;
}
.navbar li {
  padding-right: 10px !important;
}
.navbar li :hover {
  color: greenyellow !important;
}
.navbar a :hover {
  cursor: pointer;
}

/*-----------------------End of navbar----------------------------------------------*/

/*------------------------Bottom Content---------------------------------------------*/
.bottom-content {
  width: 100%;
  height: 600px;
  background-image: linear-gradient(
    90deg,
    #b2edff 0%,
    #e9dbff 25%,
    #c1ffe1 50%,
    #b2edff 75%,
    #e9dbff 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 100%;
}

.col1 > h3 {
  font-family: pt-italic !important;
  font-size: 45px !important;
}

/*--------------------------------Setting Screen adjustment--------------*/






/*---------------------End------------------------------------------------*/

.col2 > p {
  font-family: pt-italic !important;
  font-size: 25px;
  color: #2e4053;
}

.btn1 > button {
  width: 14em;
  height: 70px;
  border-radius: 8px;
  border: #31c77f;
  background-color: #31c77f;
  font-size: 20px;
  color: honeydew;
  cursor: pointer;
}
.btn2 > button {
  width: 14em;
  height: 70px;
  border-radius: 8px;
  border: #31c77f;
  background-color: rgb(107, 57, 189);
  font-size: 20px;
  color: honeydew;
  cursor: pointer;
}
.btn1 button:hover {
  color: #fff;
  border-color: #2ca46d;
  background-color: #2ca46d;
}
.btn2 button:hover {
  color: #fff;
  border-color: #5a329e;
  background-color: #5a329e;
}

.btn1 {
  padding-right: 25px;
}
.btn2 {
  padding-top: 0px !important;
}
.col3 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.btn1,
.btn2 {
  margin-top: 10px;
}
.btn1 button > a{
  text-decoration: none !important;
  color: whitesmoke;
}

.btn2 button > a{
  text-decoration: none !important;
  color: whitesmoke;
}


@media only screen and (max-width: 714px) {
  .col1 h3 {
    font-size: 35px !important;
    font-weight: bold;
  }
}
@media only screen and (max-width: 587px) {
  .btn1,
  .btn2 {
    padding: 15px;
  }
}
@media only screen and (max-width: 580px) {
  .col1 h3 {
    text-align: center;
  }
}



@media only screen and (max-width: 555px) {
  .col1 h3 {
    font-size: 25px !important;
  }
}

@media only screen and (max-width: 400px) {
  .col1 h3 {
    font-size: 22px !important;
  }
  .col2 p {
    font-size: 18px !important;
  }
}
@media only screen and (max-width: 351px) {
  .col1 h3 {
    font-size: 18px !important;
  }
  .col2 p {
    font-size: 15px !important;
  }
}

/*------------------------------------Extra Animation code ----------------------------------*/
/*------------------------------------Bottom Section----------------------------------------*/

/*These styles contain basic styles for fomatting along with our animation css*/

.container-animator *,
.container-animator *:before,
.container-animator *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
/*clearfixes*/

.cf:before,
.cf:after {
  content: ' ';
  display: table;
}

.cf:after {
  clear: both;
}

/*animation element*/

.animation-element {
  opacity: 0;
  position: relative;
}
/*------------------------------animation element sliding left-------------------------*/

.animation-element.slide-left {
  opacity: 0;
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -moz-transform: translate3d(-100px, 0px, 0px);
  -webkit-transform: translate3d(-100px, 0px, 0px);
  -o-transform: translate(-100px, 0px);
  -ms-transform: translate(-100px, 0px);
  transform: translate3d(-100px, 0px, 0px);
}

.animation-element.slide-left.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}
/*--------------------------animation slide left styled for testimonials------------------*/

.animation-element.slide-left.testimonial {
  float: left;
  width: 47%;
  margin: 0% 1.5% 3% 1.5%;
  background: #f5f5f5;
  padding: 15px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
  border: solid 1px #eaeaea;
}
.animation-element.slide-left.testimonial:hover,
.animation-element.slide-left.testimonial:active {
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
}

.animation-element.slide-left.testimonial:nth-of-type(odd) {
  width: 48.5%;
  margin: 0% 1.5% 3% 0%;
}

.animation-element.slide-left.testimonial:nth-of-type(even) {
  width: 48.5%;
  margin: 0% 0% 3% 1.5%;
}

/*---------------------------------------------End---------------------------------------*/

/*--------------------------------------main Services -----------------------------------*/

.main-services .row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.service-top-content {
  text-align: center;
  font-size: 38px;
  font-family: Arial, Helvetica, sans-serif;
}
.card {
  background: #fff;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 200px;
  margin: 1rem;
  width: 270px;
  cursor: pointer;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/*----------------------------------------Services card----------------------------------------*/

.service-card-content-1 {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 38px;
  width: 100%;
  background-color: rgb(25, 42, 86);
}

.service-card-content-2 {
  color: rgb(255, 0, 106);
  display: flex;
  align-self: center;
  margin-top: 65px;
  font-size: 22px;
}

.service-card-content-4 > a {
  color: rgb(255, 0, 106);
}

.service-card-content-3 {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 38px;
  width: 100%;
  background-color: rgb(255, 0, 106);
}

.service-card-content-4 {
  color: rgb(255, 0, 206);
  display: flex;
  align-self: center;
  margin-top: 65px;
  font-size: 22px;
}

/*------------------------------------------Service card second row---------------------------*/

.card2a {
  background-color: #16a085;
}

.card2b > a {
  color: #16a085;
}

.card2c {
  background-color: #c0392b;
}
.card2d > a {
  color: #c0392b;
}

.service-card-content-5 {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 38px;
  width: 100%;
  background-color: rgb(251, 195, 20);
}
.service-card-content-6 {
  display: flex;
  align-self: center;
  margin-top: 65px;
  font-size: 22px;
}

.service-card-content-6 > a {
  color: rgb(251, 195, 20);
}
@media only screen and (max-width: 267px) {
  .service-card-content-6 > a{
    font-size: 19px;
    text-align: center;
  }
}
.service-card-content-7 {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 38px;
  width: 100%;
  background-color: rgb(27, 143, 139);
}
.service-card-content-8 {
  color: rgb(27, 143, 139);
  display: flex;
  align-self: center;
  margin-top: 65px;
  font-size: 20px;
}

.service-card-content-8 > a {
  color: rgb(27, 143, 139);
}

@media only screen and (max-width: 285px) {
  .service-card-content-8 > a{
    font-size: 18px;
    text-align: center;
  }
}
.card2e {
  background-color: #616a6b;
}
.card2f > a {
  color: #616a6b;
}
.card2g {
  background-color: #67f914;
}
.card2h > a {
  color: #67f914;
}
/*-------------------------------------Detail-Service--------------------------------------*/

.frow {
  display: flex;
  flex-direction: row;
}

.frow > .ele-2 {
  margin-top: 1px !important;
  margin-left: 10px;
}
.ele-2 > h3 {
  margin-left: 13px;
}

.main-services-row-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/*  ------------------------------work section--------------------------------------------- */
.myBtnContainer .btn.active {
  background: #c2e54f !important;
  color: #fff !important;
  border-color: #c2e54f !important;
}
.myBtnContainer .btn {
  border-color: transparent;
  font-size: 0.8rem;
  margin: 5px;
  letter-spacing: 0.2rem;
  background: rgba(52, 58, 64, 0.05);
  color: #343a40;
  padding: 5px 20px;
  border-radius: 30px !important;
  border: none !important;
  text-transform: uppercase;
}
.btn .btn-primary {
  background: #c2e54f;
  border-color: #c2e54f;
  color: #fff;
}

.work-top-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.detail-services h3,
i {
  cursor: pointer;
}

/*---------------------------------Adjusting Screen Size main Services---------------------*/

@media only screen and (max-width: 560px) {
  .main-services-row-section {
    display: flex;
    align-self: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}

/*---------------------------------------------------------End --------------------*/

.filterDiv {
  float: left;

  display: none;
}

.show {
  display: inline;
}

.work-stuff * {
  box-sizing: border-box;
}

.work-stuff-col {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
/*--------------------------------Client Review Section---------------------------------------*/
.client-section {
  height: 400px;
  background-image: radial-gradient(
    circle farthest-corner at 12.3% 19.3%,
    rgba(85, 88, 218, 1) 0%,
    rgba(95, 209, 249, 1) 100.2%
  );
}
.client-review-heading {
  margin-top: 15px;
}

.work-stuff-row::after {
  content: '';
  clear: both;
  display: table;
}

.carousel-item {
  height: 400px !important;
  background-image: radial-gradient(
    circle farthest-corner at 12.3% 19.3%,
    rgba(85, 88, 218, 1) 0%,
    rgba(95, 209, 249, 1) 100.2%
  );
}

.carousel-caption {
  position: absolute;
  top: 120px !important;
}


@media only screen and (max-width: 390px) {
  .carousel-caption {
    position: absolute;
    top: 90px !important;
  }
  
}



/*---------------------------------------------------------------------------------------*/
/*---------------------------------------------Meat Team-------------------------------------*/

.team-section-group {
  margin-top: 90px !important;
}

.ul-social-circle {
  list-style: none;
  padding: 0;
  margin: 0;
}

.ul-social-circle li {
  display: inline;
  padding-right: 29px;
}

/*--------------------------------footer section---------------------------------------------*/

.site-footer {
  background-color: #26272b;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}
.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}
.site-footer hr.small {
  margin: 20px 0;
}
.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}
.site-footer a {
  color: #737373;
}
.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links {
  padding-left: 0;
  list-style: none;
}
.footer-links li {
  display: block;
}
.footer-links a {
  color: #737373;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links.inline li {
  display: inline-block;
}
.site-footer .social-icons {
  text-align: right;
}
.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}
.copyright-text {
  margin: 0;
}
@media (max-width: 991px) {
  .site-footer [class^='col-'] {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
}
.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}
.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}
.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}
.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}
.social-icons a.facebook:hover {
  background-color: #3b5998;
}
.social-icons a.twitter:hover {
  background-color: #00aced;
}
.social-icons a.linkedin:hover {
  background-color: #007bb6;
}
.social-icons a.dribbble:hover {
  background-color: #ea4c89;
}
@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}

/*----------------------------------end of footer-------------------------------------------*/

/* ----------------------------------About us ----------------------------------------------*/
@media only screen and (min-width: 768px) {
  .site-section {
    padding: 5em 0;
  }
}

.site-section {
  padding: 2.5em 0;
}

@media only screen and (min-width: 768px) {
  .site-section-heading {
    font-size: 3rem;
  }
}

.site-section-heading {
  padding-bottom: 20px;
  margin-bottom: 0px;
  position: relative;
  font-size: 2.5rem;
}
.text-black {
  color: #000 !important;
}
.text-black {
  color: #000 !important;
}

.form-control {
  height: 43px;
  border-radius: 30px;
  font-family: 'Quicksand', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.form-group textarea {
  padding-bottom: 100px;
}

/*---------------------------------footer--------------------------------------------------*/

.page-footer {
  background-color: rgb(51, 51, 51) !important;
  color: white;
  height: 400px;
}

#myBtn {
  display: none;
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 20px;
  right: 30px;

  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  cursor: pointer;
  z-index: 99;
  padding: 5px;
}

#myBtn:hover {
  background-color: #555;
}
